.header-new {
    width: 100%;
    padding-top: 25px;
    border-bottom: solid 5px #013364;
}

.header-new__container {
    margin: 0 auto;
    width: 1751px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
}

.header-new__logo {
    width: 300px;
    padding-bottom: 30px;

    img {
        width: 100%;
        display: block;
    }
}

.header-new__link {
    padding: 33px 45px;
    background: #013364;
    border-radius: 20px 20px 0px 0px;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    display: inline-block;
}

@media only screen and (max-width: 1780px) {
    .header-new__container {
        width: 1440px;
    }

    .header-new {
        padding-top: 20px;
    }

    .header-new__logo {
        width: 250px;
    }

    .header-new__logo {
        margin-left: -50px;
    }
}

@media only screen and (max-width: 1560px) {
    .header-new__logo {
        margin-left: 0px;
    }
}

@media only screen and (max-width: 1460px) {
    .header-new__container {
        width: 1200px;
    }

    .header-new__link {
        font-size: 16px;
        line-height: 1;
        padding: 20px 30px;
    }

    .header-new__logo {
        margin-left: -50px;
    }
}

@media only screen and (max-width: 1300px) {
    .header-new__logo {
        margin-left: 0px;
    }
}

@media only screen and (max-width: 1220px) {
    .header-new__container {
        width: 760px;
        justify-content: center;
        flex-wrap: wrap;

    }

    .header-new__logo {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 0;
        margin-bottom: 20px;

        img {
            width: 150px;
        }
    }

    .header-new {
        padding-top: 10px;
    }
}

@media only screen and (max-width: 765px) {
    .header-new__container {
        width: 350px;
    }

    .header-new__link {
        font-size: 12px;
        line-height: 1;
        padding: 15px 20px;
    }

    .header-new {
        border-bottom: solid 2px #013364;
    }


}